#root {
  /* max-width: 1280px; */
  width: 100vw;
  height: max-content;
  margin: 0 auto;
  padding: 5rem;
  text-align: center;
  background-color: #000000e7;
  color: azure;
}

.customBtn {
  display: flex;
  flex-direction: column;
}